<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini ">
<!-- Site wrapper -->
<div class="wrapper">

    <header th:replace="admin/layout/header :: header"></header>
    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <aside th:replace="admin/layout/aside :: aside"></aside>
    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Quản lý ca chiếu

                </h1>
            </section>

            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="col-md-6 ">
                    <!-- general form elements -->
                    <div class="box box-primary ">
                        <div class="box-header with-border">
                            <h3 class="box-title">Thêm mới ca chiếu</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form action="#" th:action="@{/quantri/add-cach}" th:object="${cachieu}" method="post" >
                            <div class="box-body">
                                <div>
                                    <span th:text="${loi}"></span>
                                </div>
                                <div class="form-group">
                                    <label >Chọn ngày chiếu</label>
                                    <select name=""  class="form-control" required="required" th:field="*{ngayChieu.id}">
                                        <option th:each="ngayChieu : ${ngayChieus}" th:value="${ngayChieu.id}" th:text="${ngayChieu.ngayChieu}">2</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Giờ chiếu</label>
                                    <input type="time" required="required" th:field="*{gioChieu}" class="form-control"  placeholder="Giờ bắt đầu...">
                                </div>
                                <div class="form-group">
                                    <label>Giờ kết thúc</label>
                                    <input type="time" required="required" th:field="*{giokt}" class="form-control" placeholder="Giờ kt đầu...">
                                </div>
                                <div class="form-group">
                                    <label >Chọn phòng chiếu</label>
                                    <select name=""  class="form-control" required="required" th:field="*{phongChieu.id}">
                                        <option th:each="phongchieu : ${phongChieus}" th:value="${phongchieu.id}" th:text="${phongchieu.tenPhong}">2</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label >Chọn phim</label>
                                    <select name=""  class="form-control" required="required" th:field="*{phim.id}">
                                        <option th:each="phim : ${phims}" th:value="${phim.id}" th:text="${phim.tenPhim}">2</option>
                                    </select>
                                </div>
                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">Thêm mới</button>
                                <a th:href="@{/quantri/cachieu}" class="btn btn-light">Thoát</a>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- /.box -->
                <!-- /.box -->

            </section>
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

</div>
<!-- ./wrapper -->
<!-- jQuery 3 -->
<div th:replace="admin/layout/script :: script"></div>
</body>
</html>