<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini ">
<!-- Site wrapper -->
<div class="wrapper">

    <header th:replace="admin/layout/header :: header"></header>
    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <aside th:replace="admin/layout/aside :: aside"></aside>
    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Quản lý hóa đơn

                </h1>
            </section>

            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="col-md-6 ">
                    <!-- general form elements -->
                    <div class="box box-primary ">
                        <div class="box-header with-border">
                            <h3 class="box-title">Thay đổi thông tin hóa đơn</h3>
                        </div>
                        <form th:action="@{/quantri/update-hd}" th:object="${hoadon}" method="post" id="hoaDonForm">
                            <div class="box-body">
                                <div class="form-group">
                                    <label>Mã hoá đơn</label>
                                    <input type="text" th:field="*{id}" class="form-control" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Ngày lập</label>
                                    <input type="text" th:field="*{ngayLap}" class="form-control" readonly>
                                    <input type="hidden" th:field="*{gioLap}">
                                </div>
                                <div class="form-group">
                                    <label>Mã khách hàng</label>
                                    <input type="text" th:field="*{user.id}" class="form-control" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Tên khách hàng</label>
                                    <input type="text" name="fullname" th:value="${user.fullName}" class="form-control" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Mã vé</label>
                                    <input type="text" name="mave" th:field="*{datVe.id}" class="form-control" readonly>
                                    <input type="hidden" name="tenrap" th:value="${rap.tenRap}">
                                    <input type="hidden" name="email" th:value="${user.email}">
                                </div>
                                <div class="form-group">
                                    <label>Tổng tiền</label>
                                    <input type="text" th:field="*{tongTien}" class="form-control" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Trạng thái</label>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" th:field="*{trangThai}" th:value="true" name="trangthai">Thành công
                                        </label>
                                        <label>
                                            <input type="radio" th:field="*{trangThai}" th:value="false" name="trangthai">Hàng chờ
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <button type="button" class="btn btn-primary" onclick="checkAndSubmit(event)">Thay đổi</button>
                                <a th:href="@{/quantri/hoadon}" class="btn btn-light">Thoát</a>
                            </div>
                            <div id="loading" style="display:none;">Đang xử lý...</div> <!-- Biểu tượng tải -->
                        </form>

                    </div>
                </div>
                <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
                <script type="text/javascript">
                    (function(){
                       emailjs.init({
                         publicKey: "v1vUxE8cRPY0tlVAI",
                       });
                    })();

                    async function checkAndSubmit(event) {
                        event.preventDefault();
                        const form = document.getElementById('hoaDonForm');
                        const trangThai = document.querySelector('input[name="trangThai"]:checked').value;
                        document.getElementById('loading').style.display = 'block'; // Hiển thị biểu tượng tải

                        try {
                            const response = await fetch(form.action, {
                                method: 'POST',
                                body: new FormData(form)
                            });

                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }

                            if (trangThai === 'true') {
                                await sendEmail();
                                alert('Hóa đơn đã được cập nhật thành công.');
                            } else {
                                alert('Hóa đơn đã được cập nhật thành công.');
                            }


                            window.location.href = '/quantri/hoadon'; // Chuyển hướng sau khi cập nhật thành công
                        } catch (error) {
                            console.error('Error:', error);
                            alert('Có lỗi xảy ra, vui lòng thử lại!');
                        } finally {
                            document.getElementById('loading').style.display = 'none'; // Ẩn biểu tượng tải
                        }
                    }

                    async function sendEmail() {
                        const fullname = document.querySelector('input[name="fullname"]').value;
                        const tenrap = document.querySelector('input[name="tenrap"]').value;
                        const mave = document.querySelector('input[name="datVe.id"]').value;
                        const email = document.querySelector('input[name="email"]').value;

                        const params = {
                            fullName: fullname,
                            tenrap: tenrap,
                            mave: mave,
                            email: email
                        };

                        try {
                            const res = await emailjs.send("service_el9917n", "template_mnn0cnk", params);
                            if (res.status === 200) {
                                alert('Email xác nhận đã được gửi.');
                            } else {
                                alert('Gửi email thất bại, vui lòng thử lại!');
                            }
                        } catch (error) {
                            console.error('EmailJS Error:', error);
                            alert('Có lỗi xảy ra khi gửi email: ' + error.text);
                        }
                    }
                </script>

            </section>
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<div th:replace="admin/layout/script :: script"></div>
</body>
</html>