<div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.2s" th:fragment="footer">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <h4 class="text-white mb-4"><i class="fas fa-ticket-alt me-3"></i>Ticket</h4>
                    <p>Sự hài lòng của bạn là nguồn động lực lớn nhất của chúng tôi!</p>
                    <div class="d-flex align-items-center">
                        <i class="fas fa-share fa-2x text-white me-2"></i>
                        <a class="btn-square btn btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn-square btn btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn-square btn btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                        <a class="btn-square btn btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <h4 class="mb-4 text-white">Liên kết</h4>
                    <a th:href="@{/home/lienhe}"><i class="fas fa-angle-right me-2"></i> Liên hệ</a>
                    <a href=""><i class="fas fa-angle-right me-2"></i> Chính sách bảo mật</a>
                    <a href=""><i class="fas fa-angle-right me-2"></i> Điều khoản và điều kiện</a>
                    <a href=""><i class="fas fa-angle-right me-2"></i> Blog và tin mới</a>
                </div>
            </div>
            <!--            <div class="col-md-6 col-lg-6 col-xl-3">-->
            <!--                <div class="footer-item d-flex flex-column">-->
            <!--                    <h4 class="mb-4 text-white">Terapia Services</h4>-->
            <!--                    <a href=""><i class="fas fa-angle-right me-2"></i> All Services</a>-->
            <!--                    <a href=""><i class="fas fa-angle-right me-2"></i> Physiotherapy</a>-->
            <!--                    <a href=""><i class="fas fa-angle-right me-2"></i> Diagnostics</a>-->
            <!--                    <a href=""><i class="fas fa-angle-right me-2"></i> Manual Therapy</a>-->
            <!--                    <a href=""><i class="fas fa-angle-right me-2"></i> Massage Therapy</a>-->
            <!--                    <a href=""><i class="fas fa-angle-right me-2"></i> Rehabilitation</a>-->
            <!--                </div>-->
            <!--            </div>-->
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <h4 class="mb-4 text-white">Thông tin liên hệ</h4>
                    <a href=""><i class="fa fa-map-marker-alt me-2"></i> Hà Nội</a>
                    <a href=""><i class="fas fa-envelope me-2"></i> hotro@ticket.vn</a>
                    <a href=""><i class="fas fa-phone me-2"></i> 1900 2024</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50742.886369667176!2d105.79576372622505!3d21.022734639737084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab9bd9861ca1%3A0xe7887f7b72ca17a9!2zSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e1!3m2!1svi!2s!4v1720330954396!5m2!1svi!2s" height="260px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
