<div th:fragment="script">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{../assets1/lib/wow/wow.min.js}"></script>
    <script th:src="@{../assets1/lib/easing/easing.min.js}"></script>
    <script th:src="@{../assets1/lib/waypoints/waypoints.min.js}"></script>
    <script th:src="@{../assets1/lib/owlcarousel/owl.carousel.min.js}"></script>

    <!-- Template Javascript -->
    <script th:src="@{../assets1/js/main.js}"></script>
</div>