<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="client/layout/head :: head">
</head>
<body>
<div th:replace="client/layout/topbar :: topbar"></div>
<!-- Navbar & Hero Start -->
<div th:replace="client/layout/navbar :: navbar"></div>
<!-- Navbar & Hero End -->

<!-- Services Start -->
<div class="container-fluid service py-5">
    <div class="container py-5">
        <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.2s">
            <div class="sub-style">
                <h1 class="sub-title px-3 mb-0">LIÊN HỆ VỚI CHÚNG TÔI</h1>
            </div>
        </div>
        <div class="container mt-5">
            <form id="contactForm" onsubmit="sendEmail(event)">
                <div class="form-row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="email" class="text-dark">Họ tên <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="email" name="name" required>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="message" class="text-dark">Nội dung liên hệ</label>
                        <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Gửi</button>
                    <a class="btn btn-primary" th:href="@{/home}">Thoát</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Team Start -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
<script type="text/javascript">
    (function(){
       emailjs.init("UQXKpmN08DubGHPFt");
    })();

    function sendEmail(event) {
        event.preventDefault();

        const name = document.querySelector('input[name="name"]').value;
        const message = document.querySelector('textarea[name="message"]').value;

        var params = {
            name: name,
            message: message
        };

        emailjs.send("service_ejfxy0i", "template_6cg7wyg", params)
        .then(function(res){
            if(res.status === 200) {
                alert('Mọi thông tin của bạn sẽ được chúng tôi phản hồi về sớm nhất.');
                window.location.href = '/home';
            } else {
                alert('Phản hồi thất bại! hãy quay về trang chủ');
                window.location.href = '/home';
            }
        })
        .catch(function(error) {
            console.error('EmailJS Error:', error);
            alert('Có lỗi xảy ra khi gửi email: ' + error.text);
        });
    }
</script>
<!-- Footer Start -->
<div th:replace="client/layout/footer :: footer"></div>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-primary btn-lg-square back-to-top" style="display: none;"><i class="fa fa-arrow-up"></i></a>

<!-- JavaScript Libraries -->
<div th:replace="client/layout/script :: script"></div>
</body>
</html>
