<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="client/layout/head :: head">

</head>
<body>
<div th:replace="client/layout/topbar :: topbar"></div>
<!-- Navbar & Hero Start -->
<div th:replace="client/layout/navbar :: navbar"></div>

<div class="container-fluid service py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center font-arial">TẬN HƯỞNG CẢ THẾ GIỚI ĐIỆN ẢNH TẠI TICKET</h1>
                <h3 class="text-center text-muted p-3 font-arial">#Công nghệ #Trải nghiệm #Phong cách</h3>
                <div class="row p-3">
                    <div class="col-md-12 d-flex align-items-center mb-4">
                        <p class="mb-0 mr-2 d-flex" style="font-size: 30px; font-weight: bold; color: black;">CÔNG NGHỆ</p>
                        <span class="mx-4">|</span>
                        <p class="mb-0 mr-2 font-weight-light">Kết hợp toàn diện của 3 yếu tố (màn hình, âm thanh, ghế ngồi) nâng cấp trải nghiệm và cảm xúc khi xem phim</p>
                    </div>
                    <div class="col-md-8 text-img margin-bottom-33">
                        <img src="https://iguov8nhvyobj.vcdn.cloud/media/imax/hight-light-screen-imax.jpg" alt="">
                        <div class="text-content">
                            <h5 class="text-white">IMAX</h5>
                            <p>Công nghệ điện ảnh tân tiến nhất</p>
                        </div>
                    </div>
                    <div class="col-md-4 text-img-mini">
                        <img src="https://iguov8nhvyobj.vcdn.cloud/media/theaters/special/main-page/17066596473020.jpg">
                        <div class="text-content-mini">
                            <h5 class="text-white">4DX</h5>
                            <p>Đánh thức mọi giác quan</p>
                        </div>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-md-4 text-img-mini margin-bottom-33">
                        <img src="https://iguov8nhvyobj.vcdn.cloud/media/theaters/special/main-page/17079535042120.jpg">
                        <div class="text-content-mini">
                            <h5 class="text-white">ULTRA 4DX</h5>
                            <p>Trải nghiệm điện ảnh tột đỉnh</p>
                        </div>
                    </div>
                    <div class="col-md-8 text-img">
                        <img src="https://iguov8nhvyobj.vcdn.cloud/media/theaters/special/main-page/16844566032440.png" alt="">
                        <div class="text-content">
                            <h5 class="text-white">SCREENX</h5>
                            <p>MỞ rộng thị giác tột đỉnh</p>
                        </div>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-md-8 text-img">
                        <img src="https://iguov8nhvyobj.vcdn.cloud/media/theaters/special/main-page/Starium-new.jpg" alt="">
                        <div class="text-content">
                            <h5 class="text-white">STARIUM</h5>
                            <p>Trải nghiệm điện ảnh vượt qua thực tế</p>
                        </div>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-md-12 d-flex align-items-center mb-4">
                        <p class="mb-0 mr-2 d-flex" style="font-size: 30px; font-weight: bold; color: black;">PHONG CÁCH</p>
                        <span class="mx-4">|</span>
                        <p class="mb-0 mr-2 font-weight-light">Phòng chiếu theo chủ đề, phong cách độc đáo mang đến trải nghiệm điện ảnh ấn tượng, đẳng cấp</p>
                    </div>
                    <div class="col-md-8 text-img margin-bottom-33">
                        <img src="https://iguov8nhvyobj.vcdn.cloud/media/theaters/special/main-page/gold-class.jpg" alt="">
                        <div class="text-content">
                            <h5 class="text-white">GOLD CLASS</h5>
                            <p>Ghế ngồi hạng thương gia cao cấp</p>
                        </div>
                    </div>
                    <div class="col-md-4 text-img-mini">
                        <img src="https://iguov8nhvyobj.vcdn.cloud/media/theaters/special/main-page/lamour.jpg">
                        <div class="text-content-mini">
                            <h5 class="text-white">L'amour</h5>
                            <p>Đánh thức mọi giác quan</p>
                        </div>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-md-4 text-img-mini margin-bottom-33">
                        <img src="https://iguov8nhvyobj.vcdn.cloud/media/theaters/special/main-page/sweetbox.png">
                        <div class="text-content-mini">
                            <h5 class="text-white">SWEETBOX</h5>
                            <p>Không gian riêng tư & ngọt ngào...</p>
                        </div>
                    </div>
                    <div class="col-md-8 text-img">
                        <img src="https://iguov8nhvyobj.vcdn.cloud/media/theaters/special/main-page/cine-suite.png" alt="">
                        <div class="text-content">
                            <h5 class="text-white">Sine & Suite</h5>
                            <p>Không gian điện ảnh ấm cúng và thoải mái</p>
                        </div>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-md-4 text-img-mini margin-bottom-33">
                        <img src="https://iguov8nhvyobj.vcdn.cloud/media/theaters/special/main-page/premium-1.png">
                        <div class="text-content-mini">
                            <h5 class="text-white">PREMIUM</h5>
                            <p>Ghế ngồi êm ái & thoải mái di chu...</p>
                        </div>
                    </div>
                    <div class="col-md-4 text-img-mini margin-bottom-33">
                        <img src="https://iguov8nhvyobj.vcdn.cloud/media/theaters/special/main-page/livingroom2.jpg">
                        <div class="text-content-mini">
                            <h5 class="text-white">Cine & Living</h5>
                            <p>Thưởng thức phim trong phòng...</p>
                        </div>
                    </div>
                    <div class="col-md-4 text-img-mini">
                        <img src="https://iguov8nhvyobj.vcdn.cloud/media/theaters/special/main-page/cineforet.jpg">
                        <div class="text-content-mini">
                            <h5 class="text-white">Cine & Forêt</h5>
                            <p>Không gian xanh mát thoải mái...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer Start -->
<div th:replace="client/layout/footer :: footer"></div>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-primary btn-lg-square back-to-top"><i class="fa fa-arrow-up"></i></a>

<!-- JavaScript Libraries -->
<div th:replace="client/layout/script :: script"></div>
</body>
</html>
